.main{
    display:flex;
    width:1400px;
    length: 900px;
    text-align: center;
    font-size: 50px;
    font-style: italic;
    flex-wrap: wrap;
}
.img_1{
    width:100%;
    height:200px;
    background-color: blueviolet;
}
.text_1{
    width:50%;
    height:500px;
    background-color: burlywood;
    float:left;
}
.text_2{
    width:50%;
    height:500px;
    background-color: cornflowerblue;
    float:right;
}
.img_2{
    width:100%;
    height: 200px;
    background-color: darkseagreen;
}